<div class="container-fluid min-vh-100  bg-info">
    <div class="row min-vh-100 align-items-center">
        <div class="offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2>Finish Test</h2>
                </div>
                <div class="card-body">
                    <h4 class="text-center">Thank you for taking the test.</h4>
                    <h4 class="text-center">You have Scored {{score}} out of {{maxScore}}</h4>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" (click)="leaveBtnClickEventHandler();">Leave</button>
                </div>
            </div>
        </div>
    </div>
</div>
