<div class="container-fluid min-vh-100  bg-info">
    <div class="row min-vh-100 align-items-center">
        <div class="offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2>Instrucitons</h2>
                </div>
                <div class="card-body">
                    <ul>
                        <li><p>Welcome to online exam for General Aptitude Exam.</p></li>
                        <li><p>Exam has total 15 questions.</p></li>
                        <li><p>All questions are important.</p></li>
                        <li><p>Tatal time for exam is 30 minutes.</p></li>
                        <li><p>There is no negetive marking.</p></li>
                    </ul>
                    <h3 class="text-center">Best of Luck for the test :)</h3>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" (click)="startBtnClickEventHandler();">Start Test</button>
                </div>
            </div>
        </div>
    </div>
</div>
