<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-md-8 my-bg">
        </div>
        <div class="col-md-4 h-100 p-3 bg-light">
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapseOne">
                                Sign in
                            </button>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row justify-content-around">
                                        <a class="btn btn-primary"><i class="fa fa-google"></i> Sign in</a>
                                        <a class="btn btn-primary"><i class="fa fa-linkedin"></i> Sign in</a>
                                    </div>
                                    <h5 class="text-center text-muted py-3">--or--</h5>
                                    <form [formGroup]="loginForm" (ngSubmit)="loginBtnClickEventHandler();">
                                        <div class="form-group">
                                            <label for="loginUsername">Username</label>
                                            <input id="loginUsername" class="form-control" type="text" name="username"
                                                formControlName="username" autocomplete="off">
                                            <div *ngIf="loginForm.get('username').errors?.required && loginForm.get('username').touched"
                                                class="text-danger small">
                                                *Username is Required
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="loginPassword">Password</label>
                                            <input id="loginPassword" class="form-control" type="password" name="password"
                                                formControlName="password" autocomplete="off">
                                            <div *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched"
                                                class="text-danger small">
                                                *Password is Required
                                            </div>
                                            <div *ngIf="loginForm.get('password').errors?.minlength && loginForm.get('password').touched"
                                                class="text-danger small">
                                                *Password must contain atleast 8 characters
                                            </div>
                                            <div *ngIf="loginForm.get('password').errors?.pattern && loginForm.get('password').touched"
                                                class="text-danger small">
                                                *Password should contain atleast 1 lowercase, 1 uppercase, 1 digit and 1
                                                special character.
                                            </div>
                                        </div>
                                        <div class="form-group text-right">
                                            <input [disabled]="loginForm.invalid" class="btn btn-primary" type="submit"
                                                name="login" value="Sign in">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo">
                                Sign up
                            </button>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row justify-content-around">
                                        <a class="btn btn-primary"><i class="fa fa-google"></i> Sign up</a>
                                        <a class="btn btn-primary"><i class="fa fa-linkedin"></i> Sign up</a>
                                    </div>
                                    <h5 class="text-center text-muted py-3">--or--</h5>
                                    <form [formGroup]="registerForm" (ngSubmit)="registerBtnClickEventHandler();">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input id="name" class="form-control" type="text" name="name"
                                                formControlName="name" autocomplete="off">
                                            <div *ngIf="registerForm.get('name').errors?.required && registerForm.get('name').touched"
                                                class="text-danger small">
                                                *Name is Required
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input id="email" class="form-control" type="email" name="email"
                                                formControlName="email" autocomplete="off">
                                            <div *ngIf="registerForm.get('email').errors?.required && registerForm.get('email').touched"
                                                class="text-danger small">
                                                *Email is Required
                                            </div>
                                            <div *ngIf="registerForm.get('email').errors?.email && registerForm.get('email').touched"
                                                class="text-danger small">
                                                *Please Enter a valid email
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input id="password" class="form-control" type="password" name="password"
                                                formControlName="password" autocomplete="off">
                                            <div *ngIf="registerForm.get('password').errors?.required && registerForm.get('password').touched"
                                                class="text-danger small">
                                                *Passwords is Required
                                            </div>
                                            <div *ngIf="registerForm.get('password').errors?.minlength && registerForm.get('password').touched"
                                                class="text-danger small">
                                                *Password must contain atleast 8 characters
                                            </div>
                                            <div *ngIf="registerForm.get('password').errors?.pattern && registerForm.get('password').touched"
                                                class="text-danger small">
                                                *Password should contain atleast 1 lowercase, 1 uppercase, 1 digit and 1
                                                special character.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="re-password">Confirm Password</label>
                                            <input id="re-password" class="form-control" type="password"
                                                name="re-password" formControlName="rePassword" autocomplete="off">
                                            <div *ngIf="registerForm.get('rePassword').errors?.required && registerForm.get('rePassword').touched" class="text-danger small">
                                                *Passwords is required
                                            </div>
                                            <div *ngIf="registerForm.errors?.matchPassword && registerForm.get('rePassword').touched" class="text-danger small">
                                                *Passwords do not match
                                            </div>
                                        </div>
                                        <div class="form-group text-right">
                                            <input class="btn btn-primary" type="submit" name="register"
                                                value="Sign up" [disabled]="registerForm.invalid">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>